<!DOCTYPE html>
<html lang="en">
<head>
	<title>AWMD Monthly stats | Africa Wikimedia Developers statistics.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<link rel="stylesheet" href="//tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
	<link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

	<script type="text/javascript">
		{% if data is defined %}
            var data = {{ data|tojson }}
			var patchsum = {{ patchsum|tojson }}
		{% else %}

		{% endif %}
	</script>
</head>
<body>
	<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('index', _external=True)}}" id="baseurl">
							<i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('show_doc_sitemap')}}">
							<i class="fa fa-book"></i> Docs
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.mediawiki.org/wiki/Africa_Wikimedia_Developers_Project" target="_blank">
							<i class="fa fa-users"></i> About AWMD
						</a>
					</li>
				</ul>
				<form class="navbar-form navbar-left" action="#">
					<button type="button" class="btn btn-dark" id="datepicker">
						<i class="fa fa-calendar"></i> Previous months
					</button>
					<a href="{{url_for('raw', month=refresh_month)}}" class="btn btn-success">
						<i class="fa fa-refresh" id="refresh-btn" aria-hidden="true"></i>
					</a>
				</form>
			</div>
		</div>
		<!-- Month identifier -->
		<input id="month" type="hidden" value="{{monthID}}">
	</nav>
	<br>
	<br>
	<div class="container-fluid">
		<div class="row content">
			<div class="refresh-container">
				<i class="refresh-spinner fa fa-spinner fa-spin fa-3x"></i>
			</div>
			{% block content %}{% endblock %}
		</div>
		<br>
		<br>

	</div>
	<footer class="container footer">
		<hr class="featurette-divider">
		<div class="container">
			<br>
			<p>License: MIT. All rights reserved © 2018 - <a href="//gerrit.wikimedia.org/g/labs/tools/awmd-stats">Source code on Gitiles (Gerrit)</a></p>
		</div>
		<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
		<script src="{{url_for('static', filename='js/piechart.js')}}"></script>
	</footer>
</body>
</html>
