{% extends "base.html" %}
{% block content %}
<div class="container">
	<h2>Stats for {{patches[0]['name']}}</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Project</th>
				<th>Created</th>
				<th>Updated</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for patch in patches %}
				{% if month_id in patch.created and patch.status != 'ABANDONED' %}
					<tr>
						<td>{{loop.index}}</td>
						<td><a href="//gerrit.wikimedia.org/r/#/c/{{patch._number}}/">{{patch.project}}</a></td>
						<td>{{patch.created|datetimeformat}}</td>
						<td>{{patch.updated|datetimeformat}}</td>
						<td>{{patch.status}}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<a href="{{back_url}}" class="btn btn-primary float-left" title="Back to homepage">&laquo; Back</a>
</div>
{% endblock %}
