{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="stats-link">
		<h4 class="title">Statistics for {{month}}
			<a href="{{url_for('rank_by_month', month=monthID)}}" class="link">
				<button class="btn btn-success btn-sm">
				<i class="fa fa-bar-chart"></i> View the {{stats|length}} patches submitted by {{contributors|length}} contributors
				</button>
			</a>
		</h4>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-5">
			<div id="chartContainer" style="height: 250px; width: 100%;"></div>
		</div>
		<div class="col-sm-7">
			<div id="chartContainer1" style="height: 250px; width: 100%;"></div>
		</div>
	</div>
	<hr class="style-go">
	<div class="row">
		{% for contributor in contributors %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{contributor[0]['name']}}</h4>
					<p class="card-text">
						{{contributor[0]['username']}} - submitted {{contributor|length}} patches
						<br>
					</p>
					<p class="card-text"><small class="text-muted">{{contributor[0]['country']}}</small></p>

					<a href="{{url_for('contributor_patches_by_month', username=contributor[0]['username'], month=month_id)}}" class="btn btn-primary float-left" title="Full details for {{contributor[0]['name']}}">
					View patches</a>
				</div>
			</div>
			<br>
		</div>

		{% endfor %}
	</div>
</div>
{% endblock %}
