{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="stats-link">
		<h4 class="title">Contributors of {{month}}</h4>
	</div>
	<div class="contributors-list">
		{% for contributor in contributors %}
		{% set patch_count = contributor|length - contributor[0]['abandoned_count'] %}
			{% if patch_count > 0 %}
				<p class="contributor">
					{{loop.index}}. <a href="{{url_for('contributor_patches_by_month', username=contributor[0]['username'], month=month_id)}}" title="Full details for {{contributor[0]['name']}}">
						@{{contributor[0]['username']}} - ({{patch_count}} patches submitted - {{contributor[0]['merged_count']}} merged and {{contributor[0]['pending_count']}} under review)
					</a>
				</p>
			{% endif %}
		{% endfor %}
	</div>
	<div class="btn-group">
		<a href="{{back_url}}" class="btn btn-primary float-left" title="Back to homepage">&laquo; Back</a>
		<a class="btn btn-success float-left" href="{{url_for('rank_by_month', month=month_id)}}/wiki">Wikicode</a>
	</div>
</div>
{% endblock %}
