#loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-left: 10px;
}

#html_content .page-title{
    display: inline;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.refresh-container {
    position:absolute;
    top:0;
    right:0;
    background:rgba(200,200,200,0.25);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    z-index:4;
}

.refresh-spinner {
    padding: 30px;
    opacity: 0.8;
}

hr.style-go {
	height: 5px;
	border: 0;
	box-shadow: 0 5px 5px -5px #8c8b8b inset;
}

.vertical-center {
  min-height: 60%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.stats-link .title{
  text-transform: uppercase;
  font-weight: 200;
}
.stats-link .link{
  float: right;
  margin-top: -8px;
}

.contributors-list{
  margin: 20px 0px;
}
.contributors-list .contributor{
  margin-bottom: 5px;
  padding: 5px 10px;
}
.contributors-list .contributor:nth-child(odd){
  background: #f9f4f4;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 1.5rem;
    }
}
