{% extends "base.html" %}
{% block content %}
<div class="container">
	<h2>Stats for {{month}}</h2>
	<p>{{stats|length}} patches by {{contributors|length}} contributors heee</p>
	<div class="row">
		{% for contributor in contributors %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{contributor['name']}}</h4>
					<p class="card-text">
						{{contributor['username']}} / submitted {{contributor|length}} patches 
						<br>							
					</p>
					<p class="card-text"><small class="text-muted">{{contributor['country']}}</small></p>

					<a href="{{url_for('contributorPatchesByMonth', username=contributor['username'], month=monthID)}}" class="btn btn-primary float-left" title="Full details for {{contributor['name']}}">
					View patches</a>
				</div>
			</div>
			<br>
		</div>

		{% endfor %}
	</div>
</div>
{% endblock %}
