{% extends "base.html" %}
{% block content %}
<div class="container">
	<h2>Stats for {{month}}</h2>
	<p>{{stats|length}} patches by {{submitters|length}} submitters</p>
	<div class="row">
		{% for submitter in submitters %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{submitter[0]['name']}}</h4>
					<p class="card-text">
						{{submitter[0]['username']}} / submitted {{submitter|length}} patches 
						<br>							
					</p>
					<p class="card-text"><small class="text-muted">{{submitter[0]['country']}}</small></p>
					<a href="/submitter/{{submitter[0]['username']}}/{{monthID}}" class="btn btn-primary float-left" title="Full details for {{submitter[0]['name']}}">
					View patches</a>
				</div>
			</div>
			<br>
		</div>

		{% endfor %}
	</div>
</div>
{% endblock %}
